<script src="__CDN__/static/admin/utils/baTable.js"></script>
<script src="__CDN__/static/admin/components/table/index.js"></script>
<script src="__CDN__/static/admin/components/table/comSearch/index.js"></script>
<script src="__CDN__/static/admin/components/table/header/index.js"></script>
<script src="__CDN__/static/admin/components/table/tableUtils.js"></script>
<script src="__CDN__/static/admin/components/table/tableapi.js"></script>
<script src="__CDN__/static/admin/components/baInput/baInput.js"></script>
<script src="__CDN__/static/admin/components/table/fieldRender/datetime.js"></script>
<script src="__CDN__/static/admin/components/table/fieldRender/switch.js"></script>
<script src="__CDN__/static/admin/components/table/fieldRender/icon.js"></script>
<script src="__CDN__/static/admin/components/table/fieldRender/buttons.js"></script>