<meta charset="utf-8">
<title>{$title|default=''}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="referrer" content="never">
<meta name="robots" content="noindex, nofollow">

<link rel="shortcut icon" href="/favicon.ico" />
<script type="text/javascript">
  window.Config = {$config|default=""|raw|json_encode};
</script>
<script src="__CDN__/static/libs/vue.global.min.js"></script>
<script src="__CDN__/static/libs/jquery/jquery.min.js"></script>
<script src="__CDN__/static/admin/js/lang.js"></script>
<script src="__CDN__/static/admin/js/vue-demi.iife.min.js"></script>
<script src="__CDN__/static/admin/js/pinia.iife.min.js"></script>
<script src="__CDN__/static/admin/js/pinia-plugin-persistedstate.global.js"></script>
<script src="__CDN__/static/admin/js/store.js"></script>
<script src="__CDN__/static/libs/element-plus/index.js"></script>
<script src="__CDN__/static/libs/element-plus/index.iife.min.js"></script>
<script src="__CDN__/static/admin/js/validate.js"></script>
<script src="__CDN__/static/libs/axios.min.js"></script>
<script src="__CDN__/static/libs/lodash.min.js"></script>
<script src="__CDN__/static/admin/utils/storage.js"></script>
<script src="__CDN__/static/admin/utils/route.js"></script>
<script src="__CDN__/static/admin/js/http.js"></script>

<link href="__CDN__/static/libs/element-plus/index.min.css" rel="stylesheet">
<link href="__CDN__/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="__CDN__/static/admin/css/app.min.css" rel="stylesheet">
<link href="__CDN__/static/admin/css/badou.min.css" rel="stylesheet">

{if $Think.config.fastadmin.adminskin}
<link href="__CDN__/assets/css/skins/{$Think.config.fastadmin.adminskin}.css?v={$Think.config.site.version}" rel="stylesheet">
{/if}
<script src="__CDN__/static/admin/stores/adminInfo.js"></script>
<script src="__CDN__/static/admin/stores/config.js"></script>
<script src="__CDN__/static/admin/stores/nvaTabs.js"></script>
<script src="__CDN__/static/admin/components/logo.js"></script>
<script src="__CDN__/static/admin/components/svg.js"></script>
<script src="__CDN__/static/admin/components/icon.js"></script>
<script src="__CDN__/static/admin/components/menus/menuHorizontal.js"></script>
<script src="__CDN__/static/admin/components/menus/menuTree.js"></script>
<script src="__CDN__/static/admin/components/menus/menuVertical.js"></script>
<script src="__CDN__/static/admin/components/menus/menuVerticalChildren.js"></script>
<script src="__CDN__/static/admin/components/tabs.js"></script>
<script src="__CDN__/static/admin/utils/page.js"></script>

<script src="__CDN__/static/js/common.js"></script>
<script src="__CDN__/static/admin/js/app.js"></script>